{% extends 'user/layouts/default.twig' %}
{% block title %}{{ _('404 Not Found.') }}{% endblock %}

{% block content %}
    <h1>{{ _('404 Not Found.') }} {{ _("The page you are looking for does not exist.") }}</h1>
{% endblock %}
