{% extends 'user/layouts/default_sp.twig' %}
{% block title %}{{ _('500 Internal Server Error.') }}{% endblock %}

{% block content %}
    <header><h1 class="in_menu sh_heading_main_b"><span class="h1_title">{{ _('500 Internal Server Error.') }}</span></h1></header>
{% endblock %}
