<header><h1 class="in_menu sh_heading_main_b"><span class="h1_title"><?php echo __('User setting'); ?></span></h1></header>

<?php $this->display('Users/tab.html', array('tab'=>'edit')); ?>

<h2 id="blog_settings"><span class="h2_inner"><?php echo __('Setting'); ?></span></h2>
<form method="POST" id="sys-users-form" class="admin-form">
  <div class="form_area">
    <div class="form_contents">
      <h4><?php echo __('Change Password'); ?></h4>
      <div class="common_input_text"><?php echo \Fc2blog\Web\Html::input('user[password]', 'text'); ?></div>
      <?php if (isset($errors['user']['password'])): ?><span class="error"><?php echo $errors['user']['password']; ?></span><?php endif; ?>
    </div>
    <div class="form_contents">
      <h4><?php echo __('Blog ID at login'); ?></h4>
      <?php echo \Fc2blog\Web\Html::input('user[login_blog_id]', 'select', array('options'=>Model::load('Blogs')->getListByUserId(\Fc2blog\Session::get('user_id')))); ?>
      <?php if (isset($errors['user']['login_blog_id'])): ?><span class="error"><?php echo $errors['user']['login_blog_id']; ?></span><?php endif; ?>
    </div>
    <div class="form_contents">
      <div class="btn">
        <button type="submit" class="btn_contents positive touch"><i class="save_icon btn_icon"></i><?php echo __('Update'); ?></button>
      </div>
    </div>
  </div>
</form>

