# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
charset = utf-8

[*.php]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab
