/app/temp/blog_template/*
/app/temp/debug_html/*
/app/temp/log/*
/app/temp/installed.lock
/app/version
/app/vendor/
/public/uploads/[0-9a-zA-Z]
/public/config.php
/dump_data.sql
/dump_all.sql
/dump_schema.sql
composer.phar
