
<!-- elRTE -->
<?php Html::addCSS('/js/elrte/css/elrte.min.css', array('media'=>'screen')); ?>
<?php //Html::addJS('/js/elrte/js/elrte.min.js'); ?>
<?php Html::addJS('/js/elrte/js/elrte.full.js'); ?>

<!-- elRTE translation messages -->
<?php Html::addJS('/js/elrte/src/elrte/js/elRTE.options.js'); ?>
<?php Html::addJS('/js/elrte/js/i18n/elrte.' . Config::get('LANG_ELRTE.' . Config::get('LANG')) . '.js'); ?>

<!-- timepicker-addon -->
<?php Html::addJS('/js/jquery/jQuery-Timepicker-Addon/src/jquery-ui-timepicker-addon.js'); ?>
<?php if (Config::get('LANG')!='en'): ?>
  <?php Html::addJS('/js/jquery/jQuery-Timepicker-Addon/src/i18n/jquery-ui-timepicker-' . Config::get('LANG') . '.js'); ?>
<?php endif; ?>

<?php Html::addJS('/js/jquery/jquery.cookie.js'); ?>

<!-- メディアを追加する -->
<div id="sys-add-media-dialog" title="<?php echo __('Add Media'); ?>">
  <!-- Search Area -->
  <div id="sys-add-media-search">
    <input type="text" id="sys-add-media-search-keyword" />
    <input type="button" value="<?php echo __('Search'); ?>" id="sys-add-media-search-button" />
  </div>
  <hr />

  <!-- Media Area -->
  <div id="sys-add-media-load"></div>
</div>

<?php Html::addJS('/js/admin/entry_editor.js'); ?>

<script>
$(function(){
  // form内でEnterしてもsubmitさせない
  common.formEnterNonSubmit('sys-entry-form');

  // 追記と記事の設定の開閉処理
  var cookie_config = {
    expires: <?php echo Config::get('COOKIE_EXPIRE'); ?>,
    domain: '<?php echo Config::get('COOKIE_DEFAULT_DOMAIN'); ?>',
    path: '/'
  };
  $('#sys-accordion-extend').on('click', function(){
    var next = $(this).next();
    if (next.is(':visible')) {
      next.slideUp('fast');
      $.cookie('js_entry_hide_extend', true, cookie_config);
    } else {
      next.slideDown('fast');
      $.removeCookie('js_entry_hide_extend', cookie_config);
    }
  });
  $('#sys-accordion-setting').on('click', function(){
    var next = $(this).next();
    if (next.is(':visible')) {
      next.slideUp('fast');
      $.cookie('js_entry_hide_setting', true, cookie_config);
    } else {
      next.slideDown('fast');
      $.removeCookie('js_entry_hide_setting', cookie_config);
    }
  });

  // 公開区分による表示処理変更
  $('input[name="entry[open_status]"]').on('change', function(){
    var open_status = $('input[name="entry[open_status]"]:checked').val();
    if (open_status=='<?php echo Config::get('ENTRY.OPEN_STATUS.PASSWORD'); ?>') {
      $('.sys-entry-password').slideDown('fast');
    } else {
      $('.sys-entry-password').slideUp('fast');
    }
  });
  $('input[name="entry[open_status]"]:checked').change();

  // date time picker
  $('.date-time-picker').datetimepicker({
    dateFormat: 'yy-mm-dd',
    timeFormat: 'HH:mm:ss'
  });

  // ユーザータグ
  // タグ追加(登録済みは登録しない)
  function addUserTag(tag){
    tag = jQuery.trim(tag);
    if (tag=="") {
      return ;
    }
    var tags = getTags();
    for (var i = 0; i < tags.length; i++) {
      if (tags[i]==tag) {
        return ;
      }
    }
    tag = tag.replace(/&/g, "&amp;").replace(/"/g, "&quot;").replace(/</g, "&lt;").replace(/>/g, "&gt;");
    var html = $('<li><span class="ui-icon ui-icon-circle-close"></span><input type="hidden" name="entry_tags[]" value="' + tag + '" />' + tag + '</li>');
    html.find('span.ui-icon').on('click', function(){
      $(this).closest('li').remove();
    });
    $('#sys-add-tags').append(html);
  }
  // タグ一覧をテキストの配列で取得
  function getTags(){
    var tags = [];
    $('#sys-add-tags > li > input').each(function(){
      tags.push($(this).val());
    });
    return tags;
  }

  // タグの追加イベント
  $('#sys-add-tag-text').on('keypress', function(e){
    if ((e.which && e.which===13) || (e.keyCode && e.keyCode===13)) {
      $('#sys-add-tag-button').click();
    }
  });
  $('#sys-add-tag-button').on('click', function(){
    var tags = $('#sys-add-tag-text').val().split(',');
    for (var i = 0; i < tags.length; i++) {
      addUserTag(tags[i]);
    }
    $('#sys-add-tag-text').val('');
  });
  $('#sys-use-well-tags > li').on('click', function(){
    addUserTag($(this).html());
  });

  // タグの初期設定(編集用)
  <?php $tags = $request->get('entry_tags', array()); ?>
  <?php foreach ($tags as $tag) : ?>
    addUserTag("<?php echo str_replace('"', '\"',$tag); ?>");
  <?php endforeach; ?>

  // elRTEエディター使用
  var opts = {
    cssClass : 'el-rte',
    height   : 450,
    toolbar  : 'custome',
    lang     : '<?php echo Config::get('LANG_ELRTE.' . Config::get('LANG')); ?>',
    cssfiles : ['/js/elrte/css/elrte-inner.css']
  }

  var isSetupString = false;
  var entryBody   = $('#sys-entry-body').val();
  var entryExtend = $('#sys-entry-extend').val();
  if (jQuery.trim(entryBody)=='') {
    entryBody = ' ';
    $('#sys-entry-body').val('Editor Setup...')
    isSetupString = true;
  }
  if (jQuery.trim(entryExtend)=='') {
    entryExtend = ' ';
    $('#sys-entry-extend').val('Editor Setup...')
    isSetupString = true;
  }
  $('#sys-entry-body').elrte(opts);
  $('#sys-entry-extend').elrte(opts);
  if (isSetupString) {
    $('#sys-entry-body').elrte('val', entryBody);
    $('#sys-entry-extend').elrte('val', entryExtend);
  }

  if ($.cookie("js_entry_hide_extend")) $('#sys-accordion-extend').next().css("visibility", "").hide();

  // submit時に編集前の状態に戻す
  var source = {};
  $('#sys-entry-form').submit(function(){
    $('#sys-entry-body').val(source['body']);
    $('#sys-entry-extend').val(source['extend']);
  });

  // プレビュー処理を行う
  $('#sys-entry-form-preview').click(function(){
    source['body'] = $('#sys-entry-body').elrte('val');   // submit用に値が変わるので一旦保存
    source['extend'] = $('#sys-entry-extend').elrte('val');   // submit用に値が変わるので一旦保存
    var action = '<?php echo App::userURL(array('controller'=>'Entries', 'action'=>'preview', 'blog_id'=>$this->getBlogId()), false, true); ?>';
    $('#sys-entry-form').prop('action', action);
    $('#sys-entry-form').prop('target', '_preview');
    $('#sys-entry-form').submit();
    $('#sys-entry-body').elrte('val', source['body']);   // 編集中の状態に戻す
    $('#sys-entry-extend').elrte('val', source['extend']);   // 編集中の状態に戻す
  });

  // submit処理を行う
  $('#sys-entry-form-submit').click(function(){
    source['body'] = $('#sys-entry-body').elrte('val');   // submit用に値が変わるので一旦保存(本来不要だがpreviewと合わせる為必要)
    source['extend'] = $('#sys-entry-extend').elrte('val');   // submit用に値が変わるので一旦保存(本来不要だがpreviewと合わせる為必要)
    var action = '';
    if ($('#sys-entry-form').find('input[name=id]').val()) {
      action = '<?php echo Html::url(array('controller'=>'Entries', 'action'=>'edit')); ?>';
    } else {
      action = '<?php echo Html::url(array('controller'=>'Entries', 'action'=>'create')); ?>';
    }
    $('#sys-entry-form').prop('action', action);
    $('#sys-entry-form').prop('target', '_self');
  });

  // メディア追加ボタンを追加する
  function addEditorMenu(key){
    // メニュー作成
    var html = '';
    html    += '<ul class="add-editor-menu">';
    html    += '<li><input type="button" value="<?php echo __('Add Media'); ?>" id="sys-add-image-' + key + '" /></li>';
    html    += '</ul>';
    $('#sys-entry-' + key).closest('.el-rte').before(html);

    // 追加したメニューにイベント追加
    $('#sys-add-image-' + key).click(function(){
      addMedia.open(key, {
        Add: '<?php echo __('Add'); ?>',
        elrte: true
      });
    });
  }

  addEditorMenu('body');
  addEditorMenu('extend');
});
</script>

