<header><h2><?php echo __('File upload'); ?></h2></header>

<form method="POST" id="sys-file-form" class="admin-form" enctype="multipart/form-data">

  <input type="hidden" name="MAX_FILE_SIZE" value="<?php echo \Fc2blog\Config::get('FILE.MAX_SIZE'); ?>" />
  <input type="hidden" name="sig" value="<?php echo Session::get('sig'); ?>" />

  <?php if (isset($errors['file']['ext'])): ?>
    <p class="error"><?php echo $errors['file']['ext']; ?></p>
  <?php elseif (isset($errors['file']['file'])): ?>
    <p class="error"><?php echo $errors['file']['file']; ?></p>
  <?php endif; ?>
  <?php if (isset($errors['file']['name'])): ?><p class="error"><?php echo $errors['file']['name']; ?></p><?php endif; ?>

  <dl class="form_item">
    <dt><?php echo __('Upload file'); ?>：</dt>
    <dd>
      <?php echo Html::input('file[name]', 'text', array('id'=>'sys-file-name')); ?>
      <?php echo Html::input('file[file]', 'file', array('style'=>'opacity: 0; position: absolute; width: 120px;', 'onchange'=>"$('#sys-file-name').val($(this).val().split('\\\\').pop());")); ?>
      <input type="button" value="<?php echo __('File selection'); ?>" onclick="$(this).prev().click();" style="width: 120px;" />
    </dd>
  </dl>

  <p class="form-button">
    <input type="submit" value="<?php echo __('Upload'); ?>" />
  </p>

</form>

<div id="sys-ajax-files-index"></div>

<script>
$(function(){
  // form内でEnterしてもsubmitさせない
  common.formEnterNonSubmit('sys-file-form');

  // ajaxで一覧情報をロード
  $('#sys-ajax-files-index').load('<?php echo Html::url(array('action'=>'ajax_index')); ?>')
});

// ページ数初期化有無フラグ
var isPageChange = false;
// ajaxサブミットの実行できるかどうか
var isAjaxSubmit = true;
// ajaxのサブミット処理
function ajaxSubmit(url){
  if (!isAjaxSubmit) {
    return ;
  }
  isAjaxSubmit = false;

  if (url) {
    $.ajax({
      url: url,
      type: 'GET',
      success: function(res){
        $('#sys-ajax-files-index').html(res);
        isAjaxSubmit = true;
      }
    });
    return ;
  }

  if (isPageChange==false) {
    $('input[name=page]').val(0);
  }
  var formData = {
    limit   : $('#sys-search-form input[name=limit]').val(),
    page    : $('#sys-search-form input[name=page]').val(),
    order   : $('#sys-search-form input[name=order]').val(),
    keyword : $('#sys-search-form input[name=keyword]').val()
  };
  $.ajax({
    url: '<?php echo Html::url(array('action'=>'ajax_index')); ?>',
    type: 'GET',
    data: formData,
    success: function(res){
      $('#sys-ajax-files-index').html(res);
      isAjaxSubmit = true;
    }
  });
}
// 順序変更用関数
function orderChange(order){
  var now = $('input[name=order]').val();
  // 現在の順序と同じ場合はdescとascを逆順に変更する
  if (now==order) {
    var matches = order.match('^(.*?)([^_]+)$');
    if (matches && matches.length==3){
      order = matches[1] + (matches[2]=='desc' ? 'asc' : 'desc')
    }
  }
  $('input[name=order]').val(order);
  ajaxSubmit();
}
</script>
