/* ============================================================
	Common Style
============================================================ */
.red { color: #F00; }
.center { text-align: center; }
.right { text-align: right; }
.mb10 { margin-bottom: 10px; }
.mb20 { margin-bottom: 20px; }



/* ============================================================
	Layout
============================================================ */
body > article {
	width: 900px;
	margin: 0 auto;
}
#left-nav {
	width: 220px;
	float: left;
}
#main-contents{
	width: 690px;
	float: right;
}



/* ============================================================
	Header, Footer
============================================================ */
body > header, body > footer {
	background-color: #F4F4F4;
	text-align: center;
	padding: 5px 0;
}
body > header { border-bottom: 1px solid #DEDEDE; }
body > footer { border-top: 1px solid #DEDEDE; }
body > header { padding: 10px; }
header #blog_id { float: left; }
header #switch_lang { float: right; }
body > header > div {
	width: 900px;
	margin: 0 auto;
}


