header.comment-form{
  font-size: 20px;
  padding: 4px;
}

form.user-form
{
  margin: 5px auto;
  padding: 4px;
  border: 1px solid #eee;
}

form.user-form dl{
  font-family: Helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3";
  color: #666;
  margin:10px;
  padding:10px;
  -webkit-border-radius:5px;
  border-radius:5px;
  background-color:#FFF;
}

form.user-form dt,
form.user-form dd input,
form.user-form dd textarea { font-size: 16px; }

form.user-form dd textarea {
  height: 96px;
}

form.user-form dd { margin-bottom: 10px;}
form.user-form dd input[type="text"],
form.user-form dd input[type="password"],
form.user-form dd input[type="email"],
form.user-form dd input[type="url"],
form.user-form dd input[type="number"],
form.user-form dd textarea,
form.user-form dd select {
  font-size: 16px;
  width: 95%;
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid #DFDFDF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-appearance: textarea;
  -moz-appearance: textarea;
  -o-appearance: textarea;
}

form.user-form .form-button
{
  text-align: center;
}
form.user-form .captcha_reload{
  vertical-align: top;
  line-height: 31px;
  margin : 2px 5px;
}

form.user-form p.error,
form.user-form span.error {
  width: 95%;
  background-color: #fee;
  color: #f00;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 5px;
  border: 1px solid #fcc;
}

