<header><h2><?php echo __('I want to edit the template'); ?></h2></header>

<form method="POST" id="sys-blog-template-form" class="admin-form">

  <input type="hidden" name="id" value="<?php echo $request->get('id'); ?>" />
  <?php echo Html::input('sig', 'hidden', array('value'=>Session::get('sig'))); ?>

  <h3><?php echo __('Template name'); ?></h3>
  <div>
    <?php echo Html::input('blog_template[title]', 'text'); ?>
    <?php if (isset($errors['blog_template']['title'])): ?><p class="error"><?php echo $errors['blog_template']['title']; ?></p><?php endif; ?>
  </div>
  <h3>HTML</h3>
  <div>
    <?php echo Html::input('blog_template[html]', 'textarea'); ?>
    <?php if (isset($errors['blog_template']['html'])): ?><p class="error"><?php echo $errors['blog_template']['html']; ?></p><?php endif; ?>
  </div>
  <h3>CSS</h3>
  <div>
    <?php echo Html::input('blog_template[css]', 'textarea'); ?>
    <?php if (isset($errors['blog_template']['css'])): ?><p class="error"><?php echo $errors['blog_template']['css']; ?></p><?php endif; ?>
  </div>

  <p class="form-button">
    <input type="submit" value="<?php echo __('Update'); ?>" id="sys-blog-template-form-submit" />
    <input type="button" value="<?php echo __('Preview'); ?>" id="sys-blog-template-form-preview" />
  </p>

</form>

<script>
$(function(){
  // form内でEnterしてもsubmitさせない
  common.formEnterNonSubmit('sys-blog-template-form');

  // プレビュー処理を行う
  $('#sys-blog-template-form-preview').click(function(){
    var action = '<?php echo App::userURL(array('controller'=>'Entries', 'action'=>'preview', 'blog_id'=>Session::get('blog_id')), false, true); ?>';
    $('#sys-blog-template-form').prop('action', action);
    $('#sys-blog-template-form').prop('target', '_preview');
    $('#sys-blog-template-form').submit();
  });

  // submit処理を行う
  $('#sys-blog-template-form-submit').click(function(){
    var action = '<?php echo Html::url(array('controller'=>'BlogTemplates', 'action'=>'edit')); ?>';
    $('#sys-blog-template-form').prop('action', action);
    $('#sys-blog-template-form').prop('target', '_self');
  });
});
</script>

<?php echo $this->display('BlogTemplates/form_js.html'); ?>

