<header><h1 class="sh_heading_main_b"><?php echo __('FC2 Template detail'); ?>[<?php echo \Fc2blog\Config::get('DEVICE_NAME.' . $request->get('device_type')); ?>]</h1></header>
<h2><span class="h2_inner">テンプレートの詳細</span></h2>

<div class="template_detail ">
  <div class="left_column">
    <p class="template_img">
      <img class="template_img" src="<?php echo $template['image']; ?>" width="135" height="90" alt="<?php echo $template['name']; ?>" />
    </p>
  </div>
  <div class="right_column">
    <p>
      <a  class="btn_contents touch" href="<?php echo App::userURL(array('controller'=>'Entries', 'action'=>'preview', 'blog_id'=>$this->getBlogId(), 'fc2_id'=>$template['id'], 'device_type'=>$request->get('device_type')), false, true); ?>" target="_blank"><?php echo __('Preview'); ?></a>
    </p>
    <p>
      <a  class="btn_contents touch" href="<?php echo Html::url(array('controller'=>'blog_templates', 'action'=>'download', 'fc2_id'=>$template['id'], 'device_type'=>$request->get('device_type'), 'sig'=>\Fc2blog\Session::get('sig'))); ?>"><?php echo __('Download'); ?></a>
    </p>
  </div>
  <h3><span class="h3_inner"><?php echo __('Name'); ?></span></h3>
  <p class="output_contents"><?php echo $template['name']; ?></p>
  <h3><span class="h3_inner"><?php echo __('Summary'); ?></span></h3>
  <p class="output_contents"><?php echo $template['discription']; ?></p>
  <div class="btn_area">
    <ul class="btn_area_inner">
      <li>
        <a class="btn_contents touch" href="<?php if($request->isArgs('back_url')): ?><?php echo $request->get('back_url'); ?><?php else: ?><?php echo Html::url(array('controller'=>'blog_templates', 'action'=>'fc2_index')); ?><?php endif; ?>"><i class="return_icon btn_icon"></i><?php echo __('I Back to List'); ?></a>
      </li>
      <li>
        <a class="btn_contents touch" href="<?php echo Html::url(array('controller'=>'blog_templates', 'action'=>'download', 'fc2_id'=>$template['id'], 'device_type'=>$request->get('device_type'), 'sig'=>\Fc2blog\Session::get('sig'))); ?>"><i class="add_icon btn_icon"></i><?php echo __('Download'); ?></a>
      </li>
    </ul>
  </div>
</div>
