/*--- mode=privete ---*/
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, blockquote, th, td, p {
	margin: 0px;
	padding: 0px;
}

body {
	width: 100%;
	text-align: center;
	line-height: 1.4;
	font-size: 82%;
	word-break: break-all;
}

html > body {
	font-size: 13px;
}

a {
	text-decoration: none;
	overflow: hidden;
}

table {
	border: 0px none;
}

th, td {
	padding: 0px;
}

input, select, textarea {
	padding: 2px;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 131%;
}

h3 {
	font-size: 116%;
}

body:not(:target) .sh_heading_main_b, body:not(:target) html:not([lang*=""]) .sh_heading_main_b, html:not([lang*=""]) .sh_heading_main_b_wide {
	/*
	文法エラー（centor topが）なのでLinterがエラーを出す。
	ただし、
	- secret.css(本ファイル)を読み込んでいるのが default.htmlのみであり、
	- なおかつ、`sh_heading_main_b_wide`クラスを利用しているテンプレートは（本レポジトリ内には）無く
	- なおかつ、`sh_heading_main_b`クラスを利用しているのはSPページのみであり
	- SPページにおいて、このセレクタをオンオフしても見た目に差がみつからなかったので、コメントアウト。
	background: -moz-linear-gradient(center top, rgb(255, 255, 255), rgb(240, 240, 240)) repeat scroll 0% 0% transparent;
	 */
}

body,input {
	font-family: Meiryo, 'Hiragino Kaku Gothic Pro', 'MS PGothic', arial, sans-serif;
}

body {
	color: rgb(51, 51, 51);
}

a {
	text-decoration: none;
	overflow: hidden;
}

a:link, a:visited {
	color: rgb(0, 68, 204);
}

a:hover, a:focus, a:active {
	color: rgb(232, 0, 17);
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
	margin-bottom: 20px;
	background-color: rgb(255, 255, 255);
}

html,body {
	height: 100%;
}

.private_lock {
	width: 732px;
	margin: 60px auto 100px;
	border: 6px solid #e6e6e6;
	padding: 28px 0;
}

.private_lock_left,
.private_lock_right {
	vertical-align: middle;
}

.private_lock_left {
	padding: 0px;
	width: 33%;
	border: none;
}

.private_lock_left_inner {
	padding: 0 0 0 45px;
}

.private_lock_right_inner {
	border-left: 1px solid #d8d8d8;
	padding: 30px 10px 30px 24px;
}

.private_lock_right {
	padding: 30px 28px;
	width: 67%;
}

.private_lock_title {
	font-size: 22px;
	background: url(../img/private_lock_icon.png) no-repeat left 0px;
	padding: 0 0 0 28px;
}

.private_about {
	font-size: 13px;
}

.private_lock_right_title {
	font-size: 16px;
	background: url(../img/private_lock_icon.png) no-repeat -5px -57px;
	padding: 0 0 0 20px;
	margin-bottom: 4px;
}

.private_lock_message {
	font-size: 14px;
	margin: 0 0 2px;
}

.private_lock_pass_area {
	margin-top: 35px;
}

.private_lock_pass {
	height: 38px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bababa;
	width: 100%;
	line-height: 40px\9;
}

.private_lock_btn {
	font-size: 107%;
	cursor: pointer;
	color: #fff;
	margin-top: 35px;
	width: 144px;
	height: 43px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 3px #aaa, inset 0 1px rgba(255,255,255,.5);
	-moz-box-shadow: 0 1px 3px #aaa, inset 0 1px rgba(255,255,255,.5);
	box-shadow: 0 1px 3px #aaa, inset 0 1px rgba(255,255,255,.5);
	border: solid 1px #2085d8;
	*border: none;
	background-color: #3ca2e4;
	background-image: -webkit-linear-gradient(bottom, #2085d8, #3ca2e4);
	background-image: -moz-linear-gradient(bottom, #2085d8, #3ca2e4);
	background-image: -o-linear-gradient(bottom, #2085d8, #3ca2e4);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ca2e4', endColorstr='#2085d8',GradientType=0 );
	padding: 11px 25px 14px;
	*padding: 11px 25px 12px;
}

.private_lock_btn:not(:target) {
	filter: none;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNzQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMzQ0EyRTQiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMyMDg1RDgiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cyNzQpIiAvPgo8L3N2Zz4=);
}

.private_lock_btn:hover {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczMDAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM0RkFCRTciIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzODkyREMiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2czMDApIiAvPgo8L3N2Zz4=);
	background-image: -webkit-linear-gradient(bottom, #3892dc, #4fabe6);
	background-image: -moz-linear-gradient(bottom, #3892dc, #4fabe6);
	background-image: -o-linear-gradient(bottom, #3892dc, #4fabe6);
	background-image: -ms-linear-gradient(bottom, #3892dc, #4fabe6);
	background-image: linear-gradient(to top, #3892dc, #4fabe6);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4fabe6', endColorstr='#3892dc',GradientType=0 );
}

.private_lock_btn:hover:not(:target) {
	filter: none;
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImczMDAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM0RkFCRTciIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzODkyREMiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2czMDApIiAvPgo8L3N2Zz4=);
}

.private_lock_btn:active {
	background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc4MjYiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMyMDg1RDgiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMzQ0EyRTQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c4MjYpIiAvPgo8L3N2Zz4=);
	background-image: -webkit-linear-gradient(bottom, #3ca2e4, #2085d8);
	background-image: -moz-linear-gradient(bottom, #3ca2e4, #2085d8);
	background-image: -o-linear-gradient(bottom, #3ca2e4, #2085d8);
	background-image: -ms-linear-gradient(bottom, #3ca2e4, #2085d8);
	background-image: linear-gradient(to top, #3ca2e4, #2085d8);
}

#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	width: 100%;
	padding: 25px 0;
	background-color: #fafafa;
	border-top: 1px solid #e3e3e3;
}
