{% extends 'admin/layouts/default.twig' %}
{% block title %}{{ _('Login request expired.') }}{% endblock %}

{% block content %}
    <header class="mb20"><h2>{{ _('Login request expired.') }}</h2></header>

    <div>
        <p>{{ _("Login request was expired. Please try again login form.") }}</p>
    </div>
{% endblock %}
