<section id="commentform">
<header><h1 class="sh_heading_main_b"><?php echo __('I will post a comment'); ?></h1></header>

<form method="POST" id="sys-comment-form" class="user-form">

  <input type="hidden" name="<?php echo Config::get('ARGS_CONTROLLER'); ?>" value="Entries" />
  <input type="hidden" name="<?php echo Config::get('ARGS_ACTION'); ?>" value="comment_regist" />

  <?php echo Html::input('comment[entry_id]', 'hidden'); ?>

  <fieldset class="vertical-form">
    <dl class="form">
      <dt><?php echo __('Name'); ?></dt>
      <dd>
        <?php echo Html::input('comment[name]', 'text'); ?>
        <?php if (isset($errors['comment']['name'])): ?><p class="error"><?php echo $errors['comment']['name']; ?></p><?php endif; ?>
      </dd>
    </dl>
    <dl class="form">
      <dt><?php echo __('Title'); ?></dt>
      <dd>
        <?php echo Html::input('comment[title]', 'text'); ?>
        <?php if (isset($errors['comment']['title'])): ?><p class="error"><?php echo $errors['comment']['title']; ?></p><?php endif; ?>
      </dd>
    </dl>
    <dl class="form">
      <dt><?php echo __('E-mail'); ?></dt>
      <dd>
        <?php echo Html::input('comment[mail]', 'text'); ?>
        <?php if (isset($errors['comment']['mail'])): ?><p class="error"><?php echo $errors['comment']['mail']; ?></p><?php endif; ?>
      </dd>
    </dl>
    <dl class="form">
      <dt>URL</dt>
      <dd>
        <?php echo Html::input('comment[url]', 'text'); ?>
        <?php if (isset($errors['comment']['url'])): ?><p class="error"><?php echo $errors['comment']['url']; ?></p><?php endif; ?>
      </dd>
    </dl>
    <dl class="form">
      <dt><?php echo __('Comment'); ?></dt>
      <dd>
        <?php echo Html::input('comment[body]', 'textarea'); ?>
        <?php if (isset($errors['comment']['body'])): ?><p class="error"><?php echo $errors['comment']['body']; ?></p><?php endif; ?>
      </dd>
    </dl>
    <dl class="form">
      <dt><?php echo __('Password'); ?></dt>
      <dd>
        <?php echo Html::input('comment[password]', 'password'); ?>
        <?php if (isset($errors['comment']['password'])): ?><p class="error"><?php echo $errors['comment']['password']; ?></p><?php endif; ?>
      </dd>
    </dl>
    <dl>
      <dt><?php echo __('Secret'); ?></dt>
      <dd>
        <?php Model::load('Comments'); ?>
        <?php echo Html::input('comment[open_status]', 'select', array('options'=>CommentsModel::getOpenStatusUserList())); ?>
        <?php if (isset($errors['comment']['open_status'])): ?><p class="error"><?php echo $errors['comment']['open_status']; ?></p><?php endif; ?>
      </dd>
    </dl>
    <dl class="form">
      <dt><?php echo __('Authentication keyword'); ?></dt>
      <dd>
        <img src="<?php echo Html::url(array('controller'=>'common', 'action'=>'captcha')); ?>" />
        <span class="capcha_reload"><a href="javascript(0); return false;" onclick="$(this).parent().prev().attr('src', '<?php echo Html::url(array('controller'=>'common', 'action'=>'captcha')); ?>'); return false;"><?php echo __('Update authentication image'); ?></a></span>
        <p><?php echo __('Please enter the numbers written on the image'); ?></p>
        <?php echo Html::input('token', 'captcha'); ?>
        <?php if (isset($errors['token'])): ?><p class="error"><?php echo $errors['token']; ?></p><?php endif; ?>
      </dd>
    </dl>

    <div class="submit_btn">
      <input class="common_btn" type="submit" value="<?php echo __('Post'); ?>" />
    </div>

  </fieldset>
</form>

</section>
