{% extends 'admin/layouts/default.twig' %}
{% block title %}{{ _('Password reset completed.') }}{% endblock %}

{% block content %}
    <header class="mb20"><h2>{{ _('Password reset completed.') }}</h2></header>

    <div>
        <p>{{ _("Password reset completed. Please login form login page.") }}</p>
    </div>
{% endblock %}
