#commentform fieldset {
	font-family: Helvetica, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3";
	color: #666;
	margin:10px;
	padding:10px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:#FFF;
}

#commentform fieldset dt,
#commentform fieldset dd input,
#commentform fieldset dd textarea { font-size: 16px; }

#commentform fieldset dd input[type="text"],
#commentform fieldset dd input[type="password"],
#commentform fieldset dd input[type="email"],
#commentform fieldset dd input[type="url"],
#commentform fieldset dd input[type="number"],
#commentform fieldset dd textarea,
#commentform fieldset dd select {
	font-size: 16px;
	width: 95%;
	margin: 0 0 10px 0;
	padding: 5px;
	border: 1px solid #DFDFDF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-appearance: textarea;
	-moz-appearance: textarea;
	-o-appearance: textarea;
}

#commentform .submit_btn {
	text-align: center;
}

.capcha_reload a {
	display: inline-block;
	font-size: 13px;
	color: #04C;
	padding: 2px 10px;
	border: 1px solid #CCC;
	border-radius: 4px;
	margin: 2px 0;
}

.common_btn {
	display: inline-block;
	padding: 8px 15px;
	border: 1px solid #BFBFBF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(0.55, #EFEFEF), color-stop(0.45, #FCFCFC), to(#EFEFEF));
	background-image: -moz-linear-gradient(top, white, #FCFCFC 45%, #EFEFEF 55%, #EFEFEF);
	background-image: -o-linear-gradient(top, white, #FCFCFC 45%, #EFEFEF 55%, #EFEFEF);
	text-align: center;
	color: #333;
}
