{% extends 'admin/layouts/default.twig' %}
{% block title %}{{ _('Details of comment') }}{% endblock %}

{% block content %}
    <h2>The url is only for smartphone.</h2>
    <br>
    <p><a href="{{ url(request, 'comments', 'index') }}">please move back to comments list page.</a></p>
    <script>
        location.href = "{{ url(request, 'comments', 'index') }}";
    </script>
{% endblock %}
